body {
	padding: 0;
	margin: 0;
	font-family: Lato, Helvetica;
	background-color: whitesmoke;
	color: goldenrod;
}

#page_marker {
	background-color: transparent;
	position: relative;
	width: 100vw;	
}

.main_container {
	height: 500vh;
	width: 100vw;
	overflow: visible;
	z-index: 0;
}

#arrow_container {
	width: 35px;
	margin: 0 auto;
}

img#arrow {
	position: fixed;
	width: 35px;
	bottom: 2vw;
	right: 2vw;
	height: auto;
	z-index: 8;
}
#home_tag {
	position: fixed;
	top: 0;
}
p#home{
	font-size: 32px;
	text-transform: uppercase;
	cursor: pointer;
}
p#home:hover{
	color: goldenrod;
	z-index: 2;
}
.header {
	font-weight: 100;
	width: 550px;
	margin: 2% auto;
	font-family: Lato, Helvetica;
}
.header_container {
	position: absolute;
	top: 5%;
	width: 550px;
	z-index: 2;
}

.header_nav_container {
	position: absolute;
	top: 255px;
	width: 608px;
	z-index: 6;
}

.header_image {
	padding: 0;
}

.header_image img {
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	z-index: 1;
}
.header_whiteout_div {
	background-color: #2E2E2E;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 3;
	opacity: 0;
}
.header_text {
	position: fixed;
	left: 5%;
	z-index: 3;
}
.header h1 {
	font-size: 80px;
	font-weight: 300;
	text-transform: uppercase;
}
.header h2 {
	font-size: 64px;
	font-weight: 100;
	color: #0C3866;
	text-transform: uppercase;
}

.links {
	z-index: 5;
	padding: 0;
}

.links li, .links a {
	display: inline;
	text-decoration: none;
	width: 100%;
	font-family: Lato, Helvetica;
	font-weight: 300;
	background-color: transparent;
	color: whitesmoke;
	text-align: center;
}	

li#about.big_nav a, li#work.big_nav a, li#contact.big_nav a {
	font-size: 32px;
	padding-right: 100px;
}	

li#about.big_nav a:hover, li#work.big_nav a:hover, li#contact.big_nav a:hover {
	cursor: pointer;
	color: goldenrod;
}	

p#home a{
	text-decoration: none;
	color: goldenrod;
	padding-right: 18px;
}
p#home a:hover{
	color: #CCCCCC;
	cursor: pointer;
}

.nav {
	position: fixed;
	top: 0;
	padding: 16px 16px;
	width: 100vw;
	background-color: transparent;
	height: 35px;
	z-index: 12;
}

#nav_container{
	display: none;
	position: fixed;
	top: 0;
	background-color: #2E2E2E;
	padding: 12px ;
	width: 100vw;
	height: 35px;
	z-index: -1;
	opacity: .5;
}
.nav p{
	font-family: Lato, Helvetica;
	font-weight: 300;
	display: inline;
	padding-top: 4px;
	padding-left: 4px;
	font-size: 36px;
	color: goldenrod;
}

.nav li{
	font-size: 24px;
	padding-right: 24px;
	color: #CCCCCC;
}

.nav a:hover{
	color: goldenrod;
	text-decoration: none;
	cursor: pointer;	
}

.container.about {
	position: absolute;
	top: 100%;
	width: 100vw;
	height: 97vh;
	z-index: 5;
	background-color: #2E2E2E;
}

.container.about #skills {
	position: relative;
	margin-top: 12px;
}

.container.about li {
	font-weight: 300;
	font-size: 16px;
	font-family: Lato, Helvetica;
	color: #CCCCCC;
	width: 110px;
	padding-right: 8px;
	padding-bottom: 6px;
	display: inline-block;
}

.container.about i {
	color: #474747;
}
.container.about i:hover {
	color: goldenrod;
}

.container.about #skills i {
	color: goldenrod;
}
.container.about #skills i:hover {
	color: goldenrod;
}

.container.about #about_header{
	width: 60vw;
	height: 40px;
	position: absolute;
	top: 85px;
	right: 8%;
	z-index: 6;
}

.container.about h1{
	font-family: Lato, Helvetica;
	font-weight: 400;
	font-size: 36px;
	color: #CCCCCC;
	text-transform: uppercase;
}

#portrait_container {
	width: 20vw;
	height: 40vh;
	margin: 0 8%;
	position: absolute;
	top: 145px;
	z-index: 6;
}

#portrait_container img {
	width: 100%;
	height: auto;
	border-radius: 200px;
}

#text_container {
	overflow: auto;
	width: 60vw;
	height: 75vh;
	position: absolute;
	top: 145px;
	right: 8%;
	z-index: 6;
}
#text_container p {
	font-family: Lato, Helvetica;
	font-weight: 300;
	font-size: 18px;
	color: #CCCCCC;
	text-align: justify;
	line-height: 28px;
}

i.icon-file-alt {
	font-size: 36px;
	z-index: 7;
}

#about_me_footer{
	margin-top: 18px;
	z-index: 6;
}
#about_me_links{
	width: 275px;
	height: auto;
}
#about_me_footer li{
	display: block;
	width: 150px;
	font-size: 18px;
	padding-bottom: 13px;
}
#about_me_footer a{
	font-family: Lato, Helvetica;
	text-decoration: none;
	font-weight: 300;
	color: #474747;
}
#about_me_footer a:hover, #about_me_footer i:hover{
	cursor: pointer;
	color: goldenrod;
}


.container.work{
	position: absolute;
	top: 225%;
	width: 100vw;
	height: 97vh;
	z-index: 5;
	background-color: #474747;
}
.container.work #work_header{
	width: 131px;
	margin: 20px auto;
	margin-top: 70px;
}

.container.work h1{
	width: 131px;
	margin: 5% auto;
	font-family: Lato, Helvetica;
	font-weight: 400;
	font-size: 36px;
	color: #CCCCCC;
	text-transform: uppercase;
}

#projects {
	width: 90vw;
	height: 76vh;
	overflow: auto;
	margin: 0 auto;
	color: #CCCCCC;
	font-family: Lato, Helvetica;
	font-weight: 300;
	font-size: 32px;
}
#project {
	display: inline;
	width: 33.33%;
	padding-top: 10px;
	float: left;
	background-color: transparent;
}

#project_text {
	position: absolute;
	width: 50vw;
	right: 55px;	
}
#projects img {
	width: 80%;
	height: auto;
	padding-left: 30px;
}
#project h2 {
	width: auto;
	margin: 0 auto;
	padding: 20px;
	font-size: 18px;
}
#project p{
	font-size: 18px;
	width: 78%;
	margin-left: 28px;
}

#projects a{
	font-family: Lato, Helvetica;
	text-decoration: none;
	font-weight: 300;
	color: #CCCCCC;
	text-transform: uppercase;
}
#projects a:hover{
	cursor: pointer;
	color: goldenrod;
}

.container.contact{
	position: absolute;
	top: 375%;
	width: 100vw;
	height: 97vh;
	background-color: #616161;
	z-index: 5;
}
.container.contact #contact_header{
	width: 172px;
	margin: 20px auto;
	margin-top: 70px;
}

.container.contact h1{
	width: 172px;
	margin: 5% auto;
	font-family: Lato, Helvetica;
	font-weight: 400;
	font-size: 36px;
	color: #CCCCCC;
	text-transform: uppercase;
}

.form_container {
	position: relative;
	width: 30vw;
	height: 300px;
	margin: 0 auto;
}

.form_container label {
	font-family: Lato, Helvetica;
	font-size: 20px;
	text-transform: uppercase;
	color: goldenrod;
}

.form_container input {
	position: relative;
	margin: 10px auto;
	font-family: Lato, Helvetica;
	color: #CCCCCC;
	background-color: #474747;
	width: 100%;
	height: 30px;
	border: none;
	font-size: 18px;
}

.form_container input#email_button {
	margin-top: 10px;
	height: 40px;
	font-size: 20px;
	text-transform: uppercase;
	background-color: #0C3866;
	color: #CCCCCC;
}
.form_container input#email_button:hover {
	background-color: goldenrod;
	cursor: pointer;
}

.form_container textarea {
	margin: 10px auto;
	font-family: Lato, Helvetica;
	color: #CCCCCC;
	overflow: auto;
	background-color: #474747;
	width: 100%;
	font-size: 18px;
	border: none;
}

#contact_footer{
	width: 30vw;
	margin: 10px auto;
	z-index: 6;
}
#contact_links{
	width: 375px;
	height: auto;
	position: absolute;
	bottom: 3%;
	z-index: 6;
}
#contact_footer li{
	display: inline;
	padding-right: 3vw;
}
#contact_footer a{
	font-family: Lato, Helvetica;
	text-decoration: none;
	font-weight: 300;
	color: #474747;
}
#contact_footer a:hover{
	cursor: pointer;
	color: goldenrod;
}



