body {
	padding: 0;
	margin: 0;
	font-family: Lato;
	background-color: whitesmoke;
	color: goldenrod;
}

#arrow_container {
	width: 35px;
	margin: 0 auto;
}

img#arrow {
	position: fixed;
	width: 35px;
	bottom: 0;
	height: auto;
	z-index: 8;
}
#home_tag {
	position: fixed;
	top: 0;
}
p#home{
	font-size: 32px;
	text-transform: uppercase;
	cursor: pointer;
}
p#home:hover{
	color: goldenrod;
	z-index: 2;
}
.header {
	font-weight: 100;
	width: 550px;
	margin: 10% auto;
	font-family: Lato;
}
.header_container {
	position: absolute;
	top: 5%;
	width: 550px;
	z-index: 2;
}

.header_nav_container {
	position: absolute;
	top: 255px;
	width: 608px;
	z-index: 6;
}

.header_image {
	padding: 0;
}

.header_image img {
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	z-index: 1;
}
.header_whiteout_div {
	background-color: #2E2E2E;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 3;
	opacity: 0;
}
.header_text {
	position: fixed;
	left: 5%;
	z-index: 3;
}
.header h1 {
	font-size: 80px;
	font-weight: 300;
	text-transform: uppercase;
}
.header h2 {
	font-size: 64px;
	font-weight: 100;
	color: #0C3866;
	text-transform: uppercase;
}

.links {
	z-index: 5;
	padding: 0;
}

.links li {
	display: inline;
	width: 100%;
	font-family: Lato;
	font-weight: 300;
	font-size: 32px;
	padding-right: 100px;
	background-color: transparent;
	color: whitesmoke;
	text-align: center;
}	

.links li:visited, li:link, li:active{
	color: #CCCCCC;
	text-decoration: none;
	cursor: pointer;
}

.links li:hover {
	color: #CCCCCC;
	text-decoration: none;
	cursor: pointer;
}
p#home:hover {
	color: #CCCCCC;
	text-decoration: none;
	cursor: pointer;
}

li#about.small_nav, li#work.small_nav, li#contact.small_nav  {
	font-size: 24px;
	padding-right: 16px;
	padding-left: 16px;
}	

.small_nav li:visited, li:link, li:active{
	color: silver;
	text-decoration: none;
	cursor: pointer;
}

.small_nav li:hover {
	color: #CCCCCC;
	text-decoration: none;
	cursor: pointer;
}

.nav {
	display: none;
	position: fixed;
	top: 0;
	padding: 12px 0;
	width: 100vw;
	background-color: transparent;
	height: 35px;
	z-index: 12;
}
#nav_container{
	display: none;
	position: fixed;
	top: 0;
	background-color: #2E2E2E;
	padding: 12px ;
	width: 100vw;
	height: 35px;
	z-index: -1;
	opacity: .5;
}
.nav p{
	font-family: Lato;
	font-weight: 300;
	display: inline;
	padding-top: 4px;
	padding-left: 4px;
	font-size: 36px;
	color: goldenrod;
}

.nav li{
	font-size: 24px;
	color: #CCCCCC;
}

.nav li:hover{
	color: goldenrod;
	text-decoration: none;
	cursor: pointer;	
}

.container.about{
	position: absolute;
	top: 100%;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	background-color: #2E2E2E;
}

.container.about #about_header{
	width: 216px;
	margin: 70px auto;
	margin-bottom: 40px;

}

.container.about h1{
	width: 216px;
	margin: 5% auto;
	font-family: Lato;
	font-weight: 400;
	font-size: 36px;
	color: #CCCCCC;
	text-transform: uppercase;
}

#portrait_container {
	width: 20vw;
	height: 40vh;
	margin: 0 8%;
	z-index: 6;
}

#portrait_container img {
	width: 100%;
	height: auto;
	border-radius: 200px;
}

#text_container {
	overflow: auto;
	width: 60vw;
	height: 60vh;
	position: absolute;
	top: 22%;
	right: 8%;
	z-index: 6;
}
#text_container p {
	font-family: Lato;
	font-weight: 300;
	font-size: 18px;
	color: #CCCCCC;
	text-align: justify;
	line-height: 28px;
}
#about_me_footer{
	width: 380px;
	height: auto;
	margin: 0 auto;
	z-index: 6;
}
#about_me_links{
	width: 380px;
	height: auto;
	position: absolute;
	bottom: 5%;
	z-index: 6;
}

#about_me_footer li{
	display: inline;
	padding-right: 50px;
}
#about_me_footer a{
	font-family: Lato;
	text-decoration: none;
	font-weight: 300;
	color: #474747;
}
#about_me_footer a:hover{
	cursor: pointer;
	color: goldenrod;
}

i.icon-file-alt {
	font-size: 36px;
	z-index: 7;
}

.container.work{
	position: absolute;
	top: 225%;
	width: 100vw;
	height: 110%;
	z-index: 5;
	background-color: #474747;
}
.container.work #work_header{
	width: 131px;
	margin: 20px auto;
	margin-top: 70px;
}

.container.work h1{
	width: 131px;
	margin: 5% auto;
	font-family: Lato;
	font-weight: 400;
	font-size: 36px;
	color: #CCCCCC;
	text-transform: uppercase;
}

#projects {
	width: 100vw;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	color: #CCCCCC;
	font-family: Lato;
	font-weight: 300;
	font-size: 32px;
}
#project {
	display: inline;
	width: 33.33%;
	padding-top: 10px;
	float: left;
	background-color: transparent;
}

#project_text {
	position: absolute;
	width: 50vw;
	right: 55px;	
}
#projects img {
	width: 80%;
	height: auto;
	padding-left: 30px;
}
#project h2 {
	width: auto;
	margin: 0 auto;
	padding: 20px;
	font-size: 18px;
}
#project p{
	font-size: 18px;
	width: 78%;
	margin-left: 28px;
}

#projects a{
	font-family: Lato;
	text-decoration: none;
	font-weight: 300;
	color: #CCCCCC;
	text-transform: uppercase;
}
#projects a:hover{
	cursor: pointer;
	color: goldenrod;
}

.container.contact{
	position: absolute;
	top: 360%;
	width: 100vw;
	height: 100vh;
	background-color: #616161;
	z-index: 5;
}



